.form_summery_rror{
    margin: 20px;
    padding: 5px;
    background-color: rgb(215, 24, 24);
    color: rgb(255, 255, 255);
    width: 60%;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}